{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} - Composants{% endblock %}
{#{% form_theme contactForm 'bootstrap_5_layout.html.twig' %}#}
{% block body %}

<body class="bg-home">

<h1 class="text-orange text-center mb-4">COMPOSANTS</h1>
<div class="d-flex justify-content-center">
    <ul class="list-unstyled">
        {% for composer in composers %}
        <li>
            <div class="row justify-content-center">
                <div class="col-9">
                    <div class="card bg-dark mb-3" style="width: 100%;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title text-orange">{{ composer.name }}</h5>
                            {#<p class="card-text text-white">{{ composer.description }}</p>#}
                            <h5 class="card-title text-white">{{ composer.price }} €</h5>
                            <a href="{{ path('app_composer_show', { id: composer.id}) }}" class="btn btn-custom">Détails</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<style>
    .card {
        border: 1px solid white; /* Définir la bordure de la carte en blanc */
    }
</style>

</body>
{% endblock %}


