{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} - Composants{% endblock %}
{#{% form_theme contactForm 'bootstrap_5_layout.html.twig' %}#}
{% block body %}

<body>

<h1>Composants
</h1>
    <ul>
{% for composer in composers %}
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ composer.name }}</h5>
    <p class="card-text">{{ composer.description }}</p>
     <h5 class="card-title">{{ composer.price }} €</h5>

    <a href="{{ path('app_composer_show', { id: composer.id}) }}" class="btn btn-danger">Détails</a>
  </div>
</div>
   
{% endfor %}
</ul>
  
</body>
{% endblock %}