{% extends 'base.html.twig' %}

{% block title %}Avenir Computer{% endblock %}

{% block body %}
<body>

<div class="card text-bg-dark">
  <img src="{{ asset('images/pcmain.jpg') }}" class="img-fluid" alt="...">
  <div class="card-img-overlay text-center d-flex flex-column justify-content-center">
    <h1 class="pdaime">AVENIR COMPUTER</h1>
    <p id="repair-sale" class="pdaime1"></p>
    <h2 class="pdaime2 mt-3">
      {#<a class="pdaime2" href="{{ path('app_pc_mesure') }}">CREEZ LE PC DE VOS REVES !!</a>#}
    </h2>
  </div>
</div>

<div class="card mb-3 bg-dark text-white">
  <div class="row g-0">
    <div class="col-md-4">
      {# carrousel !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! #}
      <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="{{ asset('images/vitrine.jpg') }}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block"></div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="{{ asset('images/int1.jpg') }}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block"></div>
          </div>
          <div class="carousel-item">
            <img src="{{ asset('images/int3.jpg') }}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block"></div>
          </div>
        </div>
        <button class="carousel-control-prev custom-carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon custom-carousel-control-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next custom-carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon custom-carousel-control-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title text-orange fs-1 text-center">NOS ACTIVITES</h5>
        <p class="card-text fs-5">La pluralité de nos compétences se retrouve au sein de notre unité de commercialisation, tant au niveau du choix et de la cohérence des produits les plus récents et les plus fiables du marché, qu'au sérieux de la qualité de l'assemblage qui s'effectue dans un délai maximum de 24h. <br><br> Notre diversité de compétences nous amène bien évidemment à générer la vente de produits périphériques : Matériels : Imprimantes, Scanners, Scanners à diapositives, Modems, Switch divers, câbles en tout genres, etc ... Logiciels : Educatifs, Bureautiques, Professionnels, etc ...</p>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p class="text-orange fs-5 text-center">Une équipe se tient même à votre disposition pour toute installation, mise en service, prise en main et peut également intervenir sur site dans le cadre de la formation ou de la maintenance. <br><br> Un service spécialisé Réseau reste en permanence à votre écoute et intervient dans la conception et l'élaboration de vos besoins. <br><br> Nous espérons que cette brève présentation de nos équipes sera à même de vous inciter à nous rendre visite ou bien à continuer de surfer sur notre site, qui est en permanence remis à jour, afin de vous permettre de profiter des nouveautés présentées sur le marché et des tarifs préférentiels que nous pouvons vous accorder.</p>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-12 col-md-6 mb-4">
      <figure class="imavenir">
        <img src="{{ asset('images/pcmain2.jpg') }}" alt="Portables" class="img-fluid">
        <figcaption class="mt-2">
          <h3>Portables</h3>
          <p>De nombreux modèles de portables en stock en boutique et en plusieurs configurations.</p>
        </figcaption>
        <a href="{{ path('app_portable') }}" class="stretched-link"></a>
      </figure>
    </div>
    <div class="col-12 col-md-6 mb-4">
      <figure class="imavenir">
        <img src="{{ asset('images/compo.jpg') }}" alt="Composants" class="img-fluid">
        <figcaption class="mt-2">
          <h3>Composants</h3>
          <p>Découvrez nos gammes de composants, garantissant fiabilité, performances et compatibilité.</p>
        </figcaption>
        <a href="#" class="stretched-link"></a>
      </figure>
    </div>
  </div>
</div>

<style>
  .custom-carousel-control-prev,
  .custom-carousel-control-next {
    width: 5%;
  }

  .custom-carousel-control-icon {
    width: 3em;
    height: 3em;
    background-color: blue; /* Changez cette couleur à ce que vous voulez */
  }
  
  .pdaime {
    font-size: 7rem;
  }

  .pdaime1 {
    font-size: 4rem;
  }

  .pdaime2 {
    font-size: 1.25rem;
  }

  @media (max-width: 768px) {
    .pdaime {
      font-size: 1.5rem;
    }

    .pdaime1 {
      font-size: 1.25rem;
    }

    .pdaime2 {
      font-size: 1rem;
    }

    .card-body p {
      font-size: 1rem;
    }
  }

  .text-orange {
    color: rgb(255, 165, 0);
  }

  .imavenir img {
    max-width: 100%;
    height: auto;
  }

  .imavenir figcaption {
    text-align: center;
    margin-top: 1rem;
  }

  .imavenir h3 {
    font-size: 1.5rem;
  }

  .imavenir p {
    font-size: 1rem;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const text = "REPARATION ET VENTE DE MATERIEL INFORMATIQUE";
    let index = 0;
    const element = document.getElementById('repair-sale');

    function typeWriter() {
      if (index < text.length) {
        element.textContent += text.charAt(index);
        index++;
        setTimeout(typeWriter, 100);
      }
    }

    typeWriter();
  });
</script>

</body>
{% endblock %}
