{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Inscription{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger text-center" role="alert">{{ flash_error }}</div>
            {% endfor %}
            
            <h1 class="text-center mb-4 text-orange">Inscription</h1>

            <form method="post" action="{{ path('app_register') }}" class="needs-validation" novalidate>
                {{ form_errors(registrationForm) }}
                {{ form_start(registrationForm) }}
                    <div class="mb-3">
                        <label for="username" class="form-label text-white mb-1">Email:</label>
                        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Adresse email', 'style': 'background-color: white'}}) }}
                    </div>
                      <div class="mb-3">
                        <label for="username" class="form-label text-white mb-1">Nom:</label>
                        {{ form_widget(registrationForm.Nom, {'attr': {'class': 'form-control', 'placeholder': 'Votre nom', 'style': 'background-color: white'}}) }}
                    </div>
                      <div class="mb-3">
                        <label for="username" class="form-label text-white mb-1">Prénom:</label>
                        {{ form_widget(registrationForm.Prenom, {'attr': {'class': 'form-control', 'placeholder': 'Votre prénom', 'style': 'background-color: white'}}) }}
                    </div>
                      <div class="mb-3">
                        <label for="username" class="form-label text-white mb-1">Adresse:</label>
                        {{ form_widget(registrationForm.Adresse, {'attr': {'class': 'form-control', 'placeholder': 'Votre adresse', 'style': 'background-color: white'}}) }}
                    </div>
                      <div class="mb-3">
                        <label for="username" class="form-label text-white mb-1">Ville:</label>
                        {{ form_widget(registrationForm.Ville, {'attr': {'class': 'form-control', 'placeholder': 'Votre Ville', 'style': 'background-color: white'}}) }}
                    </div>
                      <div class="mb-3">
                        <label for="username" class="form-label text-white mb-1">Code postale:</label>
                        {{ form_widget(registrationForm.Code_postale, {'attr': {'class': 'form-control', 'placeholder': 'Votre Code postale', 'style': 'background-color: white'}}) }}
                    </div>
                      <div class="mb-3">
                        <label for="username" class="form-label text-white mb-1">Pays:</label>
                        {{ form_widget(registrationForm.Pays, {'attr': {'class': 'form-control', 'placeholder': 'Votre Pays', 'style': 'background-color: white'}}) }}
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label text-white mb-1">Mot de passe:</label>
                        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe', 'style': 'background-color: white'}}) }}
                    </div>
                    <div class="form-check mb-3">
                        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                        {{ form_label(registrationForm.agreeTerms, 'J\'accepte les termes et conditions', {'label_attr': {'class': 'form-check-label'}}) }}
                    </div>

                    <button type="submit" class="btn btn-primary btn-block btn-custom">S'inscrire</button>
                {{ form_end(registrationForm) }}
            </form>
        </div>
    </div>
</div>

<style>
   .btn-custom:hover {
        background-color: white; /* Couleur de fond au survol */
        color: blue; /* Couleur du texte au survol */
    }
</style>
{% endblock %}
