{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} - Pc portable{% endblock %}
{#{% form_theme contactForm 'bootstrap_5_layout.html.twig' %}#}
{% block body %}

<body>

<h1>PORTABLES
</h1>
    <ul>
{% for portable in portables %}
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ portable.title }}</h5>
    <p class="card-text">{{ portable.description }}</p>
     <h5 class="card-title">{{ portable.price }} €</h5>

    <a href="{{ path('app_portable_show', { id: portable.id}) }}" class="btn btn-danger">Détails</a>
  </div>
</div>
   
{% endfor %}
</ul>
  
</body>
{% endblock %}