{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} - Pc portable{% endblock %}
{#{% form_theme contactForm 'bootstrap_5_layout.html.twig' %}#}
{% block body %}
<body>

 {#<h1> portable {{ portable.id }}
 </h1>#}
 <h1> {{ portable.title }}
 </h1>
 {#<h2> {{ portable.description }}
 </h2>
  <h2> {{ portable.price }}
 </h2>
   <h2> {{ portable.stock }}
 </h2>#}
<div class="card mb-3 bg-dark">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">

    <p class="card-text text-white">{{ portable.description }}</p>
    <h5 class="card-title text-white">{{ portable.price }} €</h5>
    <p class="card-text text-white"><small class="text-body -secondary">Last updated 3 mins ago</small></p>
  </div>
</div>
</body>
{% endblock %}
