{# templates/profil/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Modifier le Profil{% endblock %}

{% block body %}
<h1 class="text-center">Modifier le Profil</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            {{ form_start(form) }}
                <div class="form-group text-white">
                    
                    {{ form_label(form.Prenom,'Prénom')}}
                    {{ form_widget(form.Prenom, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.Prenom) }}
                </div>
                <div class="form-group text-white">
                    {{ form_label(form.Nom) }}
                    {{ form_widget(form.Nom, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.Nom) }}
                </div>
                <div class="form-group text-white">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.email) }}
                </div>
                <div class="form-group text-white">
                    {{ form_label(form.adresse) }}
                    {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.adresse) }}
                </div>
                <div class="form-group text-white">
                    {{ form_label(form.ville) }}
                    {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.ville) }}
                </div>
                <div class="form-group text-white">
                    {{ form_label(form.codepostale,'code postale') }}
                    {{ form_widget(form.codepostale, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.codepostale) }}
                </div>
                <div class="form-group text-white">
                    {{ form_label(form.pays) }}
                    {{ form_widget(form.pays, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.pays) }}
                </div>
                <div class="d-flex justify-content-between align-items-center">
                <button type="submit" class="btn btn-custom mt-3">Enregistrer</button>
            {{ form_end(form) }}
              <a href="{{ path('app_profil') }}" class="btn btn-secondary mt-3">Annuler</a>
               <a href="{{ path('app_profil_delete') }}" class="btn btn-danger mt-3">Supprimer</a>
               </div>
        </div>
    </div>
</div>
<style>
       .btn-custom:hover {
        background-color: white; /* Couleur de fond au survol */
        color: blue; /* Couleur du texte au survol */
    }
</style> 
{% endblock %}
