<nav class="navbar navbar-expand-lg bg-dark sticky-top">
  <div class="container-fluid">
    <img src="{{ asset('images/LOGO2.gif') }}" alt="sample67" class="img-compu" />
    {#<a class="navbar-brand text-orange" href="#">AVENIR <br> COMPUTER</a>#}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link nav-orange active text-white fs-4" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-orange text-white fs-4" href="{{ path('app_portable') }}">Portables</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link nav-orange dropdown-toggle text-white fs-4" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Composants
          </a>
          <ul class="dropdown-menu bg-dark">
            {% for category in categories %}
              {% if category.name != "Portable" %}
                <li>
                  <a class="dropdown-item text-white" href="{{ path('app_composer', { id: category.id }) }}">
                    {{ category.name }}
                  </a>
                </li>
              {% endif %}

            {% endfor %}
          </ul>
        </li>
        <li class="nav-item">
          {#<a class="nav-link nav-orange text-white fs-4" href="{{ path('app_pc_mesure') }}">Pc sur mesure</a>#}
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if app.user %}
        <li class="nav-item dropdown">
          <a class="nav-link nav-orange dropdown-toggle text-white fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Mon Profil
          </a>
          <ul class="dropdown-menu bg-dark">
            <li><a class="dropdown-item text-white" href="{{ path('app_profil') }}">Mon compte</a></li>
            <li><a class="dropdown-item text-white" href="{{ path('app_cart') }}">Mon panier</a></li>
        {% if app.user and 'ROLE_ADMIN' in app.user.getRoles() %} {#    ADMINNNNNNNNNNNNNNNNNNNNNNNNNNN  !!!!!!!!!!!!!#}
            <li><a class="dropdown-item text-white" href="{{ path('app_admin') }}">Mon Back Office</a></li>
        {% endif %}
            <li><a class="dropdown-item text-white" href="{{ path('app_logout') }}">Se déconnecter</a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
        </li>
          {#<li class="nav-item">
            <a class="nav-link text-white" href="{{ path('app_logout') }}">{{ app.user.email }}</a>
          </li>#}
        {% else %}
          <li class="nav-item">
            <a class="nav-link nav-orange text-white" href="{{ path('app_login') }}">Connexion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-orange text-white" href="{{ path('app_register') }}">Inscription</a>
          </li>
        {% endif %}
      

      </ul>
    </div>
  </div>
</nav>

<style>
  .img-compu {
    width: 20rem; /* Taille souhaitée en pixels */
    height: 6rem; /* Pour conserver les proportions de l'image */
  }
    .navbar-toggler {
    border-color: rgb(0, 140, 255);
    border-width: 3px;
  }

  .navbar::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1rem; /* Hauteur de la bande bleue */
    background-color: rgb(0, 140, 255); /* Couleur de la bande */
  }
</style>
