{# templates/order/details.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Détails de la commande {{ order.id }}{% endblock %}

{% block body %}
  <div class="container mt-5">
        <h1 class="text-center mb-4 text-orange">Détails de la commande n° {{ order.id }}</h1>

        <div class="card mb-4">
            <div class="card-body">
                <p><strong>Date de la commande :</strong> {{ order.date|date('d/m/Y') }}</p>
                <p><strong>Total :</strong> {{ order.total }} EUR</p>
            </div>
        </div>

        <h2 class="mb-3 text-orange">Produits commandés :</h2>
        <ul class="list-group">
            {% for orderDetail in order.orderDetails %}
                <li class="list-group-item">
                    <strong>Nom de l'évenement :</strong> {{ orderDetail.composer.name }} 
                </li>
                <li class="list-group-item">
                    <strong>Quantité :</strong> {{ orderDetail.quantity }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
 